body {
	background-color: #247B8D;
	width: 1280px;
	margin: 0 auto;
}

img, canvas {
	float: left;
	margin: 0;
	padding: 0;
}

#thevideo {
	display: none;
}

#myImgs {
	overflow: auto;
}

/*#thecanvas {
	 width: 640;
	height: 480;
}*/

/*#thevideo, #thecanvas #othercanvas {
	width: 720px;
	height: 480px;
}*/

/*#myImgs img {
	width: 720px;
	height: 480px;
}*/